
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>StudyPortal</title>
<meta name="keywords" content="Student_Portal" />
<meta name="description" content="This facility provide by studentSoft" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<link href="s3slider.css" rel="stylesheet" type="text/css" />
<!-- JavaScripts-->


     

</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_menu">
                
        <ul>
            <li><a href="/Home/index" class="current">Study_Home</a></li>
            <li><a href="/Stuff/thetaStuff">Theta_Stuff</a></li>
            <li><a href="/examTips/examTips">All_Posts</a></li>
            <li><a href="/signup/signup">SignUp</a></li>
            <li><a href="/post/post">Add_Post</a></li>
        </ul>	
    
    </div> <!-- end of templatemo_menu -->

    <div id="templatemo_left_column">
    
        <div id="templatemo_header">
        
            <div id="site_title">
                <h1><a href="http://www.templatemo.com" target="_parent">Student <strong>Portal</strong><span>Place to explore study_style</span></a></h1>
            </div><!-- end of site_title -->
            
        </div> <!-- end of header -->  
        
        <div id="templatemo_sidebar">
    	
            <div id="templatemo_rss">
            
                <a href="/signup/signup">SUBSCRIBE NOW <br /><span>By filling signUp page</span></a>
                
            </div>
            
            <div id="templatemo_rss">
            
                <a href="https://www.facebook.com/gostudent.studentportal">Visit_FaceBook Page <br /><span>Click here for facebook page</span></a>
                
            </div>
            
            <h4>Categories</h4>
            <ul class="templatemo_list">
                <li><a href="http://www.templatemo.com/page/1" target="_parent">Visit of FaceBook</a></li>
                <li><a href="http://www.templatemo.com/page/2" target="_parent">Visit of FaceBook</a></li>
                <li><a href="http://www.templatemo.com/page/3" target="_parent">Visit of FaceBook</a></li>
                <li><a href="http://www.templatemo.com/page/4" target="_parent">Visit of FaceBook</a></li>
                <li><a href="#">Nam auctor</a></li>
                <li><a href="#">Aliquam quam</a></li>
            </ul>
            
            <div class="cleaner_h40"></div>
            
            <h4>Friends</h4>
            <ul class="templatemo_list">
                <li><a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a></li>
                <li><a href="http://www.flashmo.com" target="_parent">Flash Templates</a></li>
                <li><a href="http://www.flashmo.com/store" target="_parent">Premium Themes</a></li>
                <li><a href="http://www.webdesignmo.com/blog" target="_parent">Web Design Blog</a></li>
                <li><a href="http://www.koflash.com" target="_parent">Flash Web Gallery</a></li>
                <li><a href="#">Curabitur sed lacinia</a></li>
                <li><a href="#">Vestibulum laoreet tincidunt</a></li>
                <li><a href="#">Nullam nec mi enim</a></li>
                <li><a href="#">Aliquam quam nulla</a></li>
                <li><a href="#">Curabitur non felis massa</a></li>
            </ul>
            
        </div> <!-- end of templatemo_sidebar --> 
    
    </div> <!-- end of templatemo_left_column -->
    
    <div id="templatemo_right_column">
    
    	 @RenderBody()

    
        </div>
    
        <!-- end of templatemo_right_column -->
  <div class="cleaner"></div>
    </div>
    <!-- end of templatemo_main -->
  <div class="cleaner_h20"></div>
  
  	<div id="templatemo_footer">
    
		Copyright © 2014 <a href="#">StudentSoft</a> | 
        <a href="http://www.iwebsitetemplate.com" target="_parent">StudentPortal</a> by <a href="http://www.templatemo.com" target="_parent">Placet to explore</a>
        
    </div>
  
    <div class="cleaner"></div>
 <!-- end of warpper -->

<div align=center>StudentPortal<a href='http://all-free-download.com/free-website-templates/'>free website </a></div></body>
</html>