<link href="~/templatemo_style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_main">
                
            <h1>Successfully SignIp.....</h1>   
        	<h1>Congratulation...  :)  </h1>

        <p style="font-family:arial;color:red;font-size:20px;"><em>You can Now make a study post and Also for Uploading a File for Others. In the case of any complain related your account activity .Your account will be suspend..</em></p>
        </div>